<footer class="footer">
    <div class="container">
        <div class="row ">
            <div class="col text-center" id="social">
                <!--MENU-->
                <div id="menu_footer">
                    <h5>MENÚ</h5>
                    <ul>
                        <li><a [routerLink]="['/inicio']">INICIO</a></li>
                        <li><a [routerLink]="['/quienes-somos']">NOSOTROS</a></li>
                        <li><a [routerLink]="['/productos']">PRODUCTOS</a></li>
                        <li><a [routerLink]="['/contacto']">CONTÁCTANOS</a></li>
                    </ul>
                </div>
            </div>
            <div class="col text-center">
                <div class="location">
                    <h5>¿DONDE ESTAMOS?</h5>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d3989.808968433466!2d-78.48808548815467!3d-0.12405415273824287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e3!4m0!4m5!1s0x91d585660fe85885%3A0xa78f60bb6e30cbbb!2sRumi%C3%B1ahui%2C%20Quito%20170144!3m2!1d-0.1241079!2d-78.4857692!5e0!3m2!1ses-419!2sec!4v1663028041816!5m2!1ses-419!2sec"
                        width="700" height="550" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col">
                <div id="info">
                    <h5 class="text-center">CONTACTOS</h5>
                    <h2>DIRECCIÓN:</h2>
                    <a href="#"><i class="bi bi-geo-alt-fill"></i></a>
                    <span>Av. R y Calle</span>
                    <h2>TELÉFONOS:</h2>
                    <a href="#"><i class="bi bi-telephone"></i></a>
                    <span>0123456789</span>
                    <h2>CORREO:</h2>
                    <a href="#"><i class="bi bi-at"></i></a>
                    <span>contacto@tecnologia.com</span>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6 offset-md-3" style="font-size: 20px;">
                Aplicaciones Web 2022A &copy;
                <a href="mailto:contacto@CarlosVelasquez.com?subject=Ayuda">Proyecto Grupo 3</a>
            </div>
        </div>
    </div>
</footer>