
<section id="contenedor">
    <h3>INFORMACIÓN USUARIO</h3>
    <div id="login" class="aside-box">
        <div id="clearfix"></div>
        <form>
            <label id="nombre">Nombre</label>
            <input type="text">
            <div id="clearfix"></div>
            <label id="apellido">Apellido</label>
            <input type="text">
            <div id="clearfix"></div>
            <label id="cedula">Cédula o RUC</label>
            <input type="text">
            <div id="clearfix"></div>
            <label id="user">Correo electrónico</label>
            <input type="email">
            <div id="clearfix"></div>
            <label id="direccion">Dirección domiciliaria</label>
            <input type="text">
            <div id="clearfix"></div>
            <label id="telefono">Número de teléfono</label>
            <input type="number">
            <div id="clearfix"></div>
            <label id="password">Contraseña</label>
            <input type="password">
            <div id="clearfix"></div>
            <label id="password">Nueva Contraseña</label>
            <input type="password">
            <div id="clearfix"></div>
            <input type="submit" value="GUARDAR">
            
        </form>
    </div>
</section>

<div id="siguenos">
    <label>SÍGUENOS</label>
    <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
    <a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a>
    <a href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>
    <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
</div>