<section id="enlaces">
    <a [routerLink]="['/inicio']">INICIO</a>
    <i class="bi bi-caret-right-fill"></i>
    <label>NOSOTROS</label>
    <i class="bi bi-caret-right-fill"></i>
    <a [routerLink]="['/quienes-somos']">Quiénes Somos</a>
</section>
<div class="row justify-content-start">
    <div class="col">
        <section id="datos">
            <h3>NOSOTROS</h3>
            <h5>Quiénes Somos</h5>
        </section>
    </div>
    <div class="col">
        <section id="negocio">
            <img src="../../../assets/fotoNegocio.jpg" alt="">
        </section>
        <div class="row justify-content-end" id="informacion">
            <div class="col">
                <img src="../../../assets/logo.jpeg" alt="" class="col-md-6 float-md-start mb-3 ms-md-3">
            </div>
            <div class="col-8" style="margin-right: 20px;">
                <p>
                    A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're
                    adding
                    quite a few meaningless phrases here to demonstrate how the columns interact here with the floated
                    image.
                    As you can see the paragraphs gracefully wrap around the floated image. Now imagine how this would
                    look
                    with some actual content in here, rather than just this boring placeholder text that goes on and on,
                    but
                    actually conveys no tangible information at. It simply takes up space and should not really be read.
                </p>
                <p>
                    And yet, here you are, still persevering in reading this placeholder text, hoping for some more
                    insights, or some hidden easter egg of content. A joke, perhaps. Unfortunately, there's none of that
                    here.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem commodi reiciendis voluptas rem
                    maxime eum
                    veniam id totam dolorem laborum doloremque, perspiciatis tenetur tempore ducimus. Qui amet sint
                    explicabo
                    nulla!
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, esse doloribus, qui, ratione
                    voluptate rerum nam necessitatibus velit reiciendis nisi quia distinctio facilis quasi recusandae.
                    Esse quis repudiandae nihil vel.</p>
            </div>
        </div>
    </div>
</div>

<div id="siguenos">
    <label>SÍGUENOS</label>
    <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
    <a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a>
    <a href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>
    <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
</div>


