<section id="enlaces">
    <a [routerLink]="['/inicio']">INICIO</a>
</section>
<section id="contenedor">
    <h3>¿Olvido su contraseña?</h3>
    <div id="login" class="aside-box">
        <h5>Por favor, introduzca la dirección de correo electrónico que utilizó para registrarse. Recibirá una
            contraseña temporal para recuperar su cuenta.</h5>
        <form>
            <label id="user">Correo electrónico</label>
            <input type="email">
            <div id="clearfix"></div>
            <input type="submit" value="Enviar contrseña temporal">
        </form>
    </div>
</section>

<div id="siguenos">
    <label>SÍGUENOS</label>
    <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
    <a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a>
    <a href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>
    <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
</div>
